<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyut.mapper.AgencyMapper">
    <select id="selectPassword" parameterType="agency" resultType="agency">
        select * from agency where agencyName = #{agencyName} and password = #{password}
    </select>
    <select id="findAllFlight" resultType="Flight">
        select * from flightinfo where 1=1 LIMIT 50
    </select>
    <select id="findFlightByCities"  resultType="Flight">
        select * from flightinfo where departureCity=#{departureCity} and finalCity = #{finalCity}
    </select>
    <insert id="addOrder" >
        insert into flightorder (aid, tid, routeId, flightId, payStatus, orderPrice, beat, payTime) values (#{aid},#{tid},#{routeId},#{flightId},#{payStatus},#{orderPrice},#{beat},#{payTime})
    </insert>
    <update id="handlerAOrder" >
        update agency_order set handlerTime = #{handlerTime}, orderStatus = 1 where aid = #{aid} and tid = #{tid} and routeId = #{routeId}
    </update>
    <select id="findFlightById" parameterType="String" resultType="Flight">
        select * from flightinfo where flightId=#{flightId}
    </select>
    <select id="findFOrderByIds" resultType="FlightOrder">
        select * from flightorder where aid=#{aid} and routeId = #{routeId} and tid = #{tid} and flightId = #{flightId}
    </select>
    <insert id="addFOrder">
        insert into flightorder(aid, tid, routeId, flightId, orderPrice, beat) values (#{aid},#{tid},#{routeId},#{flightId},#{orderPrice},#{beat})
    </insert>
    <update id="subFirstBeatCount" parameterType="String">
        update beat set firstCount=firstCount-1 where flightId=#{flightId}
    </update>
    <update id="subBusinessBeatCount" parameterType="String">
        update beat set businessCount=businessCount-1 where flightId=#{flightId}
    </update>
    <update id="subEconomyBeatCount" parameterType="String">
        update beat set economyCount=economyCount-1 where flightId=#{flightId}
    </update>
    <select id="findFOrder" parameterType="String" resultType="FlightOrder">
        select * from flightorder where aid=#{aid}
    </select>
    <select id="findTraById" parameterType="Integer" resultType="Traveller">
        select * from traveller where id = #{id}
    </select>
    <select id="findAgencyOrder" resultType="AgencyOrder">
        select * from agency_order where aid=#{aid} and tid=#{tid} and routeId=#{routeId}
    </select>
    <select id="findOrderById" resultType="AgencyOrder">
        select * from agency_order where aid=#{aid} and tid=#{tid} and routeId=#{routeId}
    </select>
    <select id="findAgencyById" parameterType="String" resultType="Agency">
        select * from agency where id=#{id}
    </select>
    <select id="findRouteByAid" parameterType="String" resultType="Route">
        select * from route where aid=#{aid}
    </select>
    <select id="findRoute" resultType="Route">
        select * from route where aid=#{aid} and  routeId=#{routeId}
    </select>
    <select id="findRouteByAidAndTid" resultType="Route">
        select * from route where routeID in (select routeId from agency_order where aid = #{aid} and tid = #{aid})
    </select>
    <select id="findTids" parameterType="String" resultType="Traveller">
        select * from traveller where id in (SELECT tid FROM agency_order WHERE id IN (SELECT MIN(id) FROM agency_order WHERE aid = #{aid} GROUP BY tid))
    </select>
    <select id="findBeatByFid" parameterType="String" resultType="Beat">
        select * from beat where flightId = #{flightId}
    </select>
    <select id="findRidsByTidAndAid" resultType="Route">
        select * from route where routeID in(SELECT routeId FROM agency_order WHERE tid = #{tid} and aid =#{aid})
    </select>
</mapper>