<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyut.mapper.AgencyMapper">
    <select id="selectPassword" parameterType="String" resultType="agency">
        select * from agency where agencyName = #{agencyName}
    </select>
    <select id="findAllFlight" resultType="Flight">
        select * from flightinfo where 1=1
    </select>
    <select id="findFlightByDepCity" parameterType="Flight" resultType="Flight">
        select * from flightinfo where departureCity=#{departureCity}
    </select>
    <insert id="addOrder" parameterType="FlightOrder">
        insert into flightorder (aid, tid, routeId, flightId, payStatus, orderPrice, beat, payTime) values (#{aid},#{tid},#{routeId},#{flightId},#{payStatus},#{orderPrice},#{beat},#{payTime})
    </insert>
    <update id="handlerAOrder" parameterType="AgencyOrder">
        update agency_order set handlerTime = #{handlerTime}, orderStatus = 1 where aid = #{aid} and tid = #{tid} and routeId = #{routeId}
    </update>
    <select id="findFlightById" parameterType="String" resultType="Flight">
        select * from flightinfo where flightId=#{flightId}
    </select>
    <select id="findFOrderByIds" parameterType="FlightOrder" resultType="FlightOrder">
        select * from flightorder where aid=#{aid} and routeId = #{routeId} and tid = #{tid} and flightId = #{flightId}
    </select>
    <insert id="addFOrder" parameterType="FlightOrder">
        insert into flightorder(aid, tid, routeId, flightId, orderPrice, beat) values (#{aid},#{tid},#{routeId},#{flightId},#{orderPrice},#{beat})
    </insert>
    <update id="subFirstBeatCount" parameterType="String">
        update flightinfo set firstCount=firstCount-1 where flightId=#{flightId}
    </update>
    <update id="subBusinessBeatCount" parameterType="String">
        update flightinfo set businessCount=businessCount-1 where flightId=#{flightId}
    </update>
    <update id="subEconomyBeatCount" parameterType="String">
        update flightinfo set economyCount=economyCount-1 where flightId=#{flightId}
    </update>
    <select id="findFOrder" parameterType="String" resultType="FlightOrder">
        select * from flightorder where aid=#{aid}
    </select>
    <select id="findTraById" parameterType="Integer" resultType="Traveller">
        select * from traveller where id = #{id}
    </select>
    <select id="findAgencyOrder" parameterType="AgencyOrder" resultType="AgencyOrder">
        select * from agency_order where aid=#{aid} and tid=#{tid} and routeId=#{routeId}
    </select>
    <select id="findOrderById" parameterType="AgencyOrder" resultType="AgencyOrder">
        select * from agency_order where aid=#{aid} and tid=#{tid} and routeId=#{routeId}
    </select>
    <select id="findAgencyById" parameterType="Integer" resultType="Agency">
        select * from agency where id=#{id}
    </select>
</mapper>